/* ------------------------------------------------ media queries ------------------------------------------------ */


/* ---------------------------------- MENU NAV !! ---------------------------------- */

@media only screen and (max-width: 1800px) {
    .menu-section.on {
        height: 322px;
    }
}

@media only screen and (max-width: 1580px) {
    .menu-section.on {
        height: 290px;
    }
}

@media only screen and (max-width: 1440px) {
    .menu-section.on {
        height: 275px;
    }
}

@media only screen and (max-width: 1320px) {
    .menu-section.on {
        height: 245px;
    }
}

@media only screen and (max-width: 1170px) {
    .menu-section.on {
        height: 229px;
    }
    nav ul a {
        font-size: 2.1em;
    }
}

@media only screen and (max-width: 1085px) {
    .menu-section.on {
        height: 200px;
    }
}

@media only screen and (max-width: 970px) {
    .menu-section.on {
        height: 165px;
    }
    nav ul a {
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 880px) {
    .menu-section.on {
        height: 145px;
    }
}

@media only screen and (max-width: 768px) {
    .menu-section.on {
        width: 28%;
        height: 682px;
    }
    nav ul a {
        font-size: 1.3em;
    }
    nav ul li {
        width: 100%;
    }
    .imgMenu {
        width: 70%;
    }
    nav ul {
        display: block;
        width: 47%;
        margin-top: 59%;
    }
}

@media only screen and (max-width: 660px) {
    .banner_title_personnages h1 {
        margin-top: 33px;
    }
    .menu-section.on {
        height: 616px;
    }
}

@media only screen and (max-width: 570px) {
    .menu-section.on {
        height: 565px;
    }
}

@media only screen and (max-width: 470px) {
    .menu-section.on {
        height: 506px;
    }
}

@media only screen and (max-width: 425px) {
    .menu-section.on {
        width: 50%;
        height: 670px;
    }
}

@media only screen and (max-width: 375px) {
    .menu-section.on {
        height: 624px;
    }
    .banner_title_personnages h1 {
        display: block;
        float: right;
        width: 304px;
        height: 93px;
        font-size: 266%;
        padding-left: 53px;
    }
}

@media only screen and (max-width: 320px) {
    .menu-section.on {
        height: 567px;
    }
    .banner_title_personnages h1 {
        width: 294px;
        height: 93px;
        font-size: 262%;
        line-height: 89px;
    }
}


/* ---------------------------------- FOOTER ---------------------------------- */

@media only screen and (max-width: 1199px) {
    .footer-img {
        width: 88%;
    }
}

@media only screen and (max-width: 1024px) {
    .footer-img {
        width: 116%;
    }
    .bloc-vide {
        margin-left: -3px;
    }
}

@media only screen and (max-width: 900px) {
    .footer-img {
        width: 133%;
    }
    .bloc-vide {
        margin-left: -7px;
    }
}

@media only screen and (max-width: 788px) {
    .footer-img {
        width: 170%;
    }
    .footer-list h4 {
        font-size: 1.7em;
    }
    .bloc-vide {
        margin-left: -12px;
    }
    .footer-line {
        height: 22px;
    }
    .copyright-col p {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 767px) {
    .row-line {
        display: block;
    }
    .footer-img {
        width: 42%;
    }
    .footer-list h4 {
        font-size: 2.2em;
    }
    .footer-line {
        height: 20px;
    }
    .footer-icon-img {
        margin-left: 10px;
    }
    .footer-line.top {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .footer-img {
        width: 64%;
    }
    .footer-list h4 {
        font-size: 2.2em;
    }
    .footer-line {
        height: 20px;
    }
    .footer-icon-img {
        margin-left: 7px;
    }
}

@media only screen and (max-width: 320px) {
    .footer-img {
        width: 134%;
    }
    .footer-list h4 {
        font-size: 2.2em;
    }
    .footer-line {
        height: 17px;
    }
    .footer-icon-img {
        margin-left: 2px;
    }
}


/* ---------------------------------- PAGE ACCUEIL ---------------------------------- */

@media only screen and (max-width: 1199px) {
    .container #img_accueil_right {
        margin-top: 105px;
    }
    .container .title-top-accueil {
        font-size: 2.9em;
        margin-top: 156px;
    }
    .container .text1-top-accueil {
        font-size: 1.1em;
    }
    .container #img_border_left_accueil {
        margin-left: -48px;
    }
}

@media only screen and (max-width: 1024px) {
    .container #img_accueil_right {
        margin-top: 73px;
        margin-left: -28px;
    }
    .container .title-top-accueil {
        font-size: 2.9em;
        margin-top: 124px;
        margin-left: -18px;
    }
    .container .text1-top-accueil {
        font-size: 1.1em;
        margin-left: -18px;
    }
    .container #img_border_left_accueil {
        width: 104%;
        margin-left: 1px;
    }
}

@media only screen and (max-width: 991px) {
    .container #img_border_left_accueil {
        width: 125%;
        margin-left: -40px;
    }
    .container #img_accueil_right {
        margin-top: 84px;
        margin-left: 0;
    }
    .container .title-top-accueil {
        font-size: 2.1em;
        margin-left: 11px;
    }
    .container .text1-top-accueil {
        font-size: 0.9em;
        margin-left: 12px;
        margin-top: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .container #img_border_left_accueil {
        width: 121%;
        margin-left: -9px;
    }
    .container #img_accueil_right {
        margin-top: 84px;
        margin-left: 0;
    }
    .container .title-top-accueil {
        font-size: 2.1em;
        margin-left: 11px;
    }
    .container .text1-top-accueil {
        font-size: 0.9em;
        margin-left: 12px;
        margin-top: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .container #img_border_left_accueil {
        width: 112%;
        margin-left: 19px;
        margin-top: 24px;
    }
    .container #img_accueil_right {
        margin-top: -2px;
        margin-left: -17px;
    }
    .container .title-top-accueil {
        font-size: 3em;
        margin-left: 17px;
        margin-top: 80px;
    }
    .container .text1-top-accueil {
        font-size: 1.3em;
        margin-left: -9px;
        margin-top: 57px;
    }
    .row-line-accueil {
        display: block;
        width: 213%;
    }
    .bottom-img-acceuil {
        margin-bottom: 207px;
    }
}

@media only screen and (max-width: 560px) {
    .container .title-top-accueil {
        margin-top: 63px;
    }
    .container .text1-top-accueil {
        margin-top: 43px;
    }
}

@media only screen and (max-width: 520px) {
    .container #img_accueil_right {
        margin-left: -14px;
    }
    .container .title-top-accueil {
        margin-left: -4px;
        margin-top: 54px;
    }
    .container .text1-top-accueil {
        font-size: 1.2em;
        margin-left: -3px;
        margin-top: 28px;
    }
}

@media only screen and (max-width: 489px) {
    .container .text1-top-accueil {
        font-size: 1.1em;
        margin-left: -3px;
    }
    .container .title-top-accueil {
        margin-top: 48px;
    }
}

@media only screen and (max-width: 449px) {
    .container .text1-top-accueil {
        font-size: 1em;
    }
    .container .title-top-accueil {
        margin-top: 44px;
        font-size: 2.6em;
    }
}

@media only screen and (max-width: 425px) {
    .container .title-top-accueil {
        font-size: 2.2em;
        margin-top: 40px;
        margin-left: 7px;
    }
    .container .text1-top-accueil {
        font-size: 0.9em;
        margin-left: 13px;
        margin-top: 20px;
    }
    .bottom-img-acceuil {
        margin-bottom: 76px;
    }
    .container #img_accueil_right {
        margin-left: 10px;
        width: 93%;
    }
    .container #img_border_left_accueil {
        width: 115%;
        margin-left: 16px;
    }
}

@media only screen and (max-width: 375px) {
    .container .title-top-accueil {
        font-size: 2.2em;
        margin-top: 36px;
        font-weight: bold;
    }
    .container .text1-top-accueil {
        font-size: 1.2em;
        margin-left: 6px;
        color: rgba(13, 30, 36, 0.9);
        font-weight: bold;
    }
    .container #img_accueil_right {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .container .title-top-accueil {
        font-size: 2.4em;
    }
}


/* ---------------------------------- page characters/movie ---------------------------------- */

@media only screen and (max-width: 1199px) {
    .container .title-top-characters {
        font-size: 2.7em;
        margin-top: 39px;
    }
}

@media only screen and (max-width: 991px) {
    .container .title-top-characters {
        font-size: 2.3em;
        margin-top: 29px;
        margin-left: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        max-width: 701px;
    }
    .container .title-top-characters {
        font-size: 2.1em;
    }
}

@media only screen and (max-width: 600px) {
    .container .row-characters {
        display: block;
    }
    .container .border-character {
        margin-left: auto;
        margin-right: auto;
        margin-top: 61px;
        max-width: 74%;
    }
    .container .title-top-characters {
        font-size: 2.3em;
        margin-top: 36px;
        margin-left: 9px;
    }
    #characters_line {
        margin-top: 91px;
    }
}

@media only screen and (max-width: 533px) {
    .container .title-top-characters {
        font-size: 2.1em;
        margin-top: 33px;
    }
}

@media only screen and (max-width: 425px) {
    .container .title-top-characters {
        font-size: 2em;
        margin-top: 28px;
    }
    .img-characters {
        width: 93%;
        margin-left: 0px;
    }
    #characters_line {
        display: none;
    }
    main.container.characters-blocPage {
        top: -14px;
    }
    .banner_title_personnages.characters h1 {
        font-size: 255%;
    }
}

@media only screen and (max-width: 375px) {
    .img-characters {
        width: 100%;
        margin-left: -13px;
    }
    .container .title-top-characters {
        margin-top: 27px;
        margin-left: 4px;
    }
    .banner_title_personnages.characters h1 {
        width: 287px;
        font-size: 244%;
    }
}

@media only screen and (max-width: 320px) {
    .img-characters {
        width: 117%;
        margin-left: -34px;
    }
}


/* ---------------------------------- page personnages ---------------------------------- */

@media only screen and (max-width: 480px) {
    .banner_title_personnages h1 {
        margin-top: 30px;
    }
    .personnages .banner_title_personnages h1 {
        font-size: 2em;
    }
}


/* -------------------------------- page justice league -------------------------------- */

@media only screen and (max-width: 425px) {
    .justice .banner_title_personnages h1 {
        font-size: 2.2em;
    }
}

@media only screen and (max-width: 375px) {
    .justice .banner_title_personnages h1 {
        font-size: 1.7em;
    }
}


/* ---------------------------------- PAGE SUPERMAN ---------------------------------- */

@media only screen and (max-width: 1199px) {
    .container .title-top {
        margin-top: 95px;
        font-size: 2.2em;
    }
    .container .title-bottom {
        margin-top: 41px;
    }
    .container .text1-bottom {
        font-size: 1.1em;
        margin-top: 11px;
    }
    .container .text2-bottom {
        font-size: 1.1em;
        margin-top: 10px;
    }
    .container .col-name p {
        margin-top: 85px;
    }
    .container .col-city p {
        margin-top: 175px;
    }
    .container .text2-top {
        margin-top: 32px;
    }
    .container .text1-top {
        margin-top: 32px;
    }
}

@media only screen and (max-width: 991px) {
    main.container {
        top: 17px;
    }
    .container .carousel-indicators {
        padding-bottom: 21px;
    }
    .container .title-top {
        margin-top: 62px;
        font-size: 1.6em;
    }
    .container .text1-top {
        font-size: 1em;
        margin-top: 16px;
    }
    .text1-top p {
        margin-left: 39px;
    }
    .container .text2-top {
        font-size: 1em;
        margin-top: 16px;
    }
    .container .title-bottom {
        font-size: 2em;
        margin-top: 30px;
    }
    .container .text1-bottom {
        font-size: 0.8em;
    }
    .container .text2-bottom {
        font-size: 0.8em;
    }
    .container .col-name p {
        margin-top: 72px;
        font-size: 3.5em;
        margin-left: 20px;
    }
    .container .col-city p {
        margin-top: 143px;
        margin-left: 9px;
        font-size: 2.4em;
    }
    div.row-large-double {
        padding-left: 26px;
    }
}

@media only screen and (max-width: 767px) {
    .container .col-name p {
        margin-top: 74px;
        font-size: 2.4em;
    }
    .container .col-city p {
        margin-top: 140px;
        font-size: 1.7em;
    }
    div#footer-bottom-wrapper {
        margin-left: 29px;
    }
    .container .row_col {
        display: block;
    }
    .col-8,
    .col-4 {
        margin-right: auto;
        margin-left: auto;
    }
    #carouselExampleIndicators.carousel.slide {
        width: 130%;
        margin-left: -60px;
        margin-top: 19px;
    }
    header #img-back {
        margin-top: 6%;
    }
    img#img_perso_right {
        width: 169%;
        margin-left: -77px;
        margin-top: 37px;
    }
    .container .title-top {
        margin-top: 80px;
        font-size: 1.6em;
        margin-left: 15px;
    }
    .container .text1-top {
        font-size: 1.8em;
        margin-top: 16px;
        margin-left: -70px;
    }
    .container .text2-top {
        font-size: 1.8em;
        margin-left: 69px;
    }
    .container .title-bottom {
        font-size: 2.7em;
        margin-top: 88px;
        font-weight: bold;
    }
    .container .text1-bottom {
        font-size: 1.3em;
        margin-top: 21px;
        margin-left: -44px;
    }
    .container .text2-bottom {
        font-size: 1.2em;
        margin-top: 20px;
        padding-right: 0;
        margin-left: 40px;
    }
    .container .col-bloc-name {
        margin-top: 36px;
    }
    .container #img_perso_logo {
        padding-left: 0px;
        margin-bottom: 34px;
        width: 113%;
    }
}

@media only screen and (max-width: 698px) {
    .container .text1-bottom {
        font-size: 1em;
        margin-top: 29px;
    }
    .container .text2-bottom {
        font-size: 1em;
        margin-top: 29px;
    }
    .container .text1-top {
        font-size: 1.2em;
    }
    .container .text2-top {
        font-size: 1.2em;
    }
    .container .title-top {
        font-size: 1.4em;
        margin-top: 96px;
    }
    .container .title-bottom {
        font-size: 2.5em;
        margin-top: 88px;
    }
}

@media only screen and (max-width: 683px) {
    div.col-4.img_col_border {
        max-width: max-content;
    }
    .superman .row-top {
        margin-left: auto;
        margin-right: auto;
    }
    .container .title-bottom {
        margin-top: 114px;
    }
    .container .title-top {
        font-size: 4.5em;
        font-weight: bold;
        margin-left: 0px;
    }
    .container .row-large-double {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .container .title-bottom {
        margin-left: 0px;
        font-size: 4.5em;
        font-weight: bold;
    }
    .container .text1-top {
        font-size: 2.1em;
        font-weight: bold;
        margin-left: 0px;
    }
    .container .text2-top {
        font-size: 2.1em;
        font-weight: bold;
        margin-left: 0px;
    }
    .container .text1-bottom {
        font-size: 1.8em;
        margin-left: 0px;
        font-weight: bold;
    }
    .container .title-bottom {
        margin-top: 106px;
    }
    img#img_perso_right {
        display: none;
    }
    .container .blue-perso {
        color: rgba(13, 30, 36, 0.9);
    }
    .container .row-large-double-bottom {
        width: 600px;
        margin-left: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .container .text2-bottom {
        font-size: 1.8em;
        margin-left: 0px;
        font-weight: bold;
    }
    .container .row-large-double-top {
        width: 600px;
        margin-left: 0px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 600px) {
    .container .title-top {
        font-size: 3.2em;
    }
    .container .title-bottom {
        font-size: 3.2em;
    }
    .container .text1-top {
        font-size: 1.2em;
    }
    .container .text2-top {
        font-size: 1.2em;
        margin-left: 0px;
    }
    .container .text1-bottom {
        font-size: 1.1em;
    }
    .container .text2-bottom {
        font-size: 1.1em;
    }
    .container .col-name p {
        margin-top: 67px;
        color: rgb(130, 81, 30);
        font-weight: bold;
        margin-left: 0px;
        margin-top: 0px;
        font-size: 2em;
    }
    .container .col-city p {
        margin-top: 126px;
        color: rgb(130, 81, 30);
        font-weight: bold;
        margin-left: 0px;
        margin-top: 0px;
        font-size: 2em;
    }
    #img_perso_bottom {
        display: none;
    }
    .container .row-large-name-city {
        width: 373px;
        margin-top: 80px;
    }
    #carouselExampleIndicators.carousel.slide {
        width: 114%;
        margin-left: -18px;
    }
    .container .row-large-double-top {
        width: 550px;
    }
    .container .row-large-double-bottom {
        width: 550px;
    }
    .container .row-large-double {
        padding-left: 0px;
    }
    .superman .text2-bottom p {
        margin-left: 42px;
    }
    .superman .text1-bottom p {
        margin-left: 72px;
    }
    .container .row-large-double-top {
        width: 495px;
        margin-left: 47px;
    }
}

@media only screen and (max-width: 425px) {
    div.banner_title_personnages h1 {
        width: 321px;
    }
    #carouselExampleIndicators.carousel.slide {
        width: 139%;
        margin-left: -48px;
    }
    .container .row-large-double-top {
        margin-left: 0px;
        display: block;
    }
    .container .row-large-double-bottom {
        margin-left: 0px;
        display: block;
    }
    .container .text2-top {
        font-size: 2.5em;
        margin-left: 0px;
    }
    .container .text1-top {
        font-size: 2.5em;
        margin-left: 0px;
    }
    .text1-top p {
        margin-left: 0px;
    }
    .container .text1-bottom {
        font-size: 2.1em;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .container .text2-bottom {
        font-size: 2.1em;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .container .title-top {
        margin-left: 0px;
        font-size: 2.8em;
    }
    .container .row-large-name-city {
        display: block;
        margin-left: 0px;
        width: 275px;
    }
    .container .col-name p {
        margin-left: 0px;
        margin-top: 0px;
        font-size: 2em;
    }
    .container .col-city p {
        margin-left: 0px;
        margin-top: 0px;
        font-size: 2em;
    }
    .container .col-name {
        padding-left: 0px;
        max-width: inherit;
    }
    .container .col-city {
        padding-left: 0px;
        max-width: inherit;
    }
    .container #img_perso_logo {
        margin-bottom: 39px;
        width: 177%;
        margin-left: -40px;
        margin-top: 52px;
    }
    .superman .text1-bottom p {
        margin-left: 4px;
    }
    .superman .text2-bottom p {
        margin-left: 4px;
    }
    .container .title-bottom {
        margin-top: 89px;
    }
    .banner_title_personnages.supertitre h1 {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 375px) {
    #carouselExampleIndicators.carousel.slide {
        width: 148%;
        margin-left: -51px;
        margin-top: 28px;
    }
    .container .text2-top {
        font-size: 2em;
        margin-top: 20px;
    }
    .container .text1-top {
        font-size: 2em;
        margin-top: 34px;
    }
    .container .text1-bottom {
        font-size: 1.8em;
    }
    .container .text2-bottom {
        font-size: 1.8em;
    }
    .container .title-bottom {
        font-size: 2.8em;
    }
    .container .title-top {
        font-size: 2.3em;
        margin-left: 0px;
    }
    div.banner_title_personnages h1 {
        width: 258px;
        font-size: 255%;
        padding-left: 50px;
    }
    .container .col-bloc-name {
        margin-left: 37px;
    }
}

@media only screen and (max-width: 350px) {
    .container .row-large-name-city {
        margin-left: -18px;
    }
}

@media only screen and (max-width: 320px) {
    #carouselExampleIndicators.carousel.slide {
        width: 157%;
    }
    .container .text2-top {
        font-size: 2em;
    }
    .container .text1-top {
        font-size: 2em;
    }
    .container .text1-bottom {
        font-size: 1.7em;
    }
    .container .text2-bottom {
        font-size: 1.7em;
    }
    .container .row-large-name-city {
        margin-left: -28px;
    }
    .container #img_perso_logo {
        width: 209%;
        margin-left: -46px;
    }
}


/* ---------------------------------- PAGE MOVIE 2 ---------------------------------- */

@media only screen and (max-width: 595px) {
    .table-movie.series-container .adapt {
        height: 129px;
    }
    .table-movie.series-container .spe .bloc-sup {
        height: 109px;
    }
    .table-movie.series-container .spe-knight .bloc-sup {
        height: 140px;
    }
    .table-movie.series-container .spe-bvs .bloc-sup {
        height: 155px;
    }
}


/* ---------------------------------- PAGE SERIES ---------------------------------- */

@media only screen and (max-width: 1199px) {
    .series-container .bloc-sup {
        background-image: none;
        margin-left: 0;
        height: 163px;
    }
    .interne-superman h5 {
        font-size: 1.8em;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 991px) {
    .series-container .bloc-sup {
        background-image: none;
        margin-left: 0;
        height: 163px;
    }
    .interne-superman h5 {
        font-size: 1.8em;
        margin-top: 25px;
    }
    .series-container .interne-line {
        display: block;
    }
    .series-container .bloc-sup {
        height: 96px;
        max-width: 380px;
    }
    .series-container .interne-line h5 {
        color: rgb(34, 38, 43);
    }
    .series-container .interne-line h6 {
        color: rgb(34, 38, 43);
    }
    .series-container .interne-line p {
        margin-left: 0px;
        margin-right: 0px;
        background-image: none;
    }
}

@media only screen and (max-width: 595px) {
    .series-container .global-line {
        display: contents;
    }
    .series-container .bloc-left,
    .series-container .bloc-right {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }
    .series-container .bloc-sup {
        border-bottom: 5px solid;
        border-top: 5px solid;
        border-color: rgba(129, 135, 142, 0.42);
        height: 121px;
        max-width: 600px;
    }
    .series-container .interne-line h5 {
        margin-top: 21px;
        text-align: center;
        margin-left: 0;
    }
    .series-container .interne-line h6 {
        text-align: center;
        margin-left: 0;
    }
    .series-container .imgSeries {
        margin-bottom: 13px;
    }
    .series-container .adapt {
        height: 129px;
    }
    .series-container .separation {
        border-bottom: 5px solid;
        border-color: rgba(129, 135, 142, 0.42);
        margin-bottom: 51px;
    }
    .series-container .interne-line p {
        margin-bottom: 0px;
    }
    div.col-6.center-img {
        text-align: center;
        max-width: 600px;
    }
}

@media only screen and (max-width: 320px) {
    .interne-superman h5 {
        font-size: 1.6em;
    }
}


/* ---------------------------------- PAGE GAMES ---------------------------------- */

@media only screen and (max-width: 1199px) {
    .games .hero-image {
        margin-left: 574px;
    }
    .games .col-block-left {
        margin-left: -56px;
    }
}

@media only screen and (max-width: 1024px) {
    .games .col-block-left {
        margin-left: 22px;
    }
    .games .text-game {
        width: 536px;
        height: 359px;
        padding-left: 31px;
    }
    .games .text-game p {
        width: 85%;
    }
    .games .hero-image {
        margin-left: 458px;
    }
}

@media only screen and (max-width: 991px) {
    .games .col-block-left {
        margin-left: -63px;
    }
    .games .hero-image {
        margin-left: 362px;
    }
    .games .text-game {
        width: 461px;
        height: 374px;
        padding-left: 31px;
    }
    .games .hero-image {
        margin-left: 314px;
    }
}

@media only screen and (max-width: 860px) {
    .games .text-game {
        width: 400px;
        height: 477px;
    }
    .games .text-game p {
        width: 77%;
    }
    .games .col-block-left {
        margin-left: -19px;
    }
    .games .hero-image {
        margin-left: 295px;
        margin-top: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .games .hero-image {
        margin-left: 115px;
        position: relative;
        margin-top: 39px;
    }
    .games .text-game p {
        width: 94%;
    }
    .games .text-game {
        width: 540px;
        height: 320px;
    }
    .games .col-block-left {
        margin-left: 89px;
    }
}

@media only screen and (max-width: 602px) {
    .games .title-game {
        width: 305px;
        height: 53px;
        font-size: 2.1em;
        line-height: 61px;
        margin-top: 4px;
    }
    .games .text-game {
        font-size: 1.3em;
    }
    .games .col-block-left {
        margin-left: 76px;
    }
    .games .hero-image {
        margin-left: 58px;
    }
    .games .banner_title_personnages_games {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 425px) {
    .games .col-block-left {
        margin-left: 52px;
    }
    .games .text-game {
        height: 351px;
        padding-left: 20px;
        font-size: 1.2em;
    }
    .games .hero-image {
        margin-left: -32px;
    }
    .games .title-game {
        width: 236px;
        height: 49px;
        font-size: 1.6em;
        line-height: 55px;
    }
}

@media only screen and (max-width: 375px) {
    .games .banner_title_personnages_games {
        width: 357px;
    }
    .games .text-game p {
        width: 97%;
    }
    .games .text-game {
        height: 349px;
        padding-left: 9px;
        padding-top: 12px;
    }
    .games .col-block-left {
        margin-left: 46px;
    }
    .games .hero-image {
        margin-left: -45px;
    }
}

@media only screen and (max-width: 320px) {
    .games .text-game {
        height: 318px;
        font-size: 1.1em;
        margin-top: 66px;
    }
    .games .col-block-left {
        margin-top: 46px;
    }
    .games .hero-image {
        margin-left: -330px;
        position: inherit;
    }
    .games .banner_title_personnages_games {
        width: 319px;
    }
}


/* ---------------------------------- PAGE COMICS ---------------------------------- */

@media only screen and (max-width: 1199px) {
    .comics .pave-top {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 1024px) {
    .container.comics .list-group-item {
        padding: 5px 1px 0px 1px;
    }
    .comics .pave-top {
        font-size: 1.9em;
    }
    .container.comics {
        max-width: 851px;
    }
    .comics .img-comics {
        width: 58%;
    }
}

@media only screen and (max-width: 767px) {
    .comics h6 {
        margin-top: 26px;
    }
    .comics .pave-bottom {
        width: 67%;
        margin-left: 42px;
    }
    .comics .webkit-page {
        display: -webkit-box;
    }
    .comics .pave-top {
        display: block;
    }
}

@media only screen and (max-width: 640px) {
    .comics h6 {
        font-size: 2em;
    }
    .comics .pave-bottom p {
        font-size: 1em;
    }
    .comics .nav-link {
        display: block;
        padding: 2px 5px 2px 5px;
    }
    .comics .nav.nav-tabs li.nav-item a {
        font-size: 2em;
    }
}

@media only screen and (max-width: 425px) {
    .comics .pave-top {
        font-size: 1.5em;
    }
    .comics h6 {
        font-size: 1.4em;
        margin-top: 6px;
    }
    .comics-list p {
        font-size: 1.5em;
    }
    .comics .pave-bottom {
        width: 76%;
        margin-left: 18px;
    }
    .comics .pave-bottom p {
        font-size: 0.9em;
    }
    .comics .img-comics {
        width: 90%;
    }
}

@media only screen and (max-width: 375px) {
    .comics h6 {
        font-size: 1em;
        margin-top: 10px;
    }
    .comics .pave-bottom {
        margin-left: 11px;
    }
    .comics .pave-bottom p {
        font-size: 0.8em;
    }
    .comics .nav-tabs {
        display: contents;
    }
    .container.comics .list-group-item {
        padding: 5px 2px 0px 2px;
    }
    .comics .img-comics {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .comics .webkit-page {
        margin-left: -16px;
    }
    .comics .pave-bottom {
        width: 77%;
    }
}


/* ---------------------------------- PAGE PLAN DU SITE ---------------------------------- */

@media only screen and (max-width: 375px) {
    .container.plan a {
        font-size: 2.5em;
    }
    .container.plan .sous-lien-plan {
        font-size: 2em;
    }
}

@media only screen and (max-width: 320px) {
    .container.plan a {
        font-size: 2em;
    }
    .container.plan .sous-lien-plan {
        font-size: 1.5em;
    }
}


/* ---------------------------------- PAGE CONTACT ---------------------------------- */

@media only screen and (max-width: 1199px) {
    .contact .maps {
        margin-left: 84px;
        width: 757px;
        height: 379px;
    }
}

@media only screen and (max-width: 991px) {
    .contact .maps {
        margin-left: 30px;
        width: 630px;
        height: 332px;
    }
}

@media only screen and (max-width: 679px) {
    .contact .maps {
        width: 588px;
        height: 303px;
    }
}

@media only screen and (max-width: 635px) {
    .contact .maps {
        width: 472px;
        height: 275px;
        margin-left: 65px;
    }
    .contact .bloc-contact {
        display: block;
    }
    .contact .border-contact {
        max-width: 100%;
    }
}

@media only screen and (max-width: 559px) {
    .contact .maps {
        width: 401px;
        height: 255px;
        margin-left: 63px;
    }
}

@media only screen and (max-width: 425px) {
    .contact .maps {
        width: 348px;
        height: 199px;
        margin-left: 26px;
    }
}

@media only screen and (max-width: 375px) {
    .contact .maps {
        width: 308px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .contact .maps {
        width: 303px;
        margin-left: -6px;
    }
    .contact .title-contact {
        font-size: 1.6em;
    }
    .contact .button-send {
        margin-top: 53px;
        margin-left: 74%;
        margin-bottom: 20px;
    }
    .contact.container-bloc {
        margin-top: 19px;
    }
}


/* ---------------------------------- PAGE MENTIONS LEGALES ---------------------------------- */

@media only screen and (max-width: 1199px) {
    .container.border-contact {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 425px) {
    .container.mentions p,
    .container.mentions li {
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 425px) {
    .container.mentions p,
    .container.mentions li {
        font-size: 1.4em;
    }
}