body {
    background-image: url('../img/background-min.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-size: 12px;
    font-family: 'Special Elite', cursive;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}


/* ---------------------------------- HEADER ---------------------------------- */


/* ------ Menu nav ------ */

.menu-toggle {
    width: 300px;
    height: 91px;
    float: left;
    padding-top: 19px;
    cursor: pointer;
    background-image: url(../img/bouton_dc_logo_gris.png);
    background-repeat: no-repeat;
}


/* ------ Rotation ------ */

.menu-toggle.on .one {
    -moz-transform: rotate(45deg) translate(7px, 7px);
    -ms-transform: rotate(45deg) translate(7px, 7px);
    -webkit-transform: rotate(45deg) translate(7px, 7px);
    transform: rotate(45deg) translate(7px, 7px);
}

.menu-toggle.on .two {
    opacity: 0;
}

.menu-toggle.on .three {
    -moz-transform: rotate(-45deg) translate(8px, -10px);
    -ms-transform: rotate(-45deg) translate(8px, -10px);
    -webkit-transform: rotate(-45deg) translate(8px, -10px);
    transform: rotate(-45deg) translate(8px, -10px);
}


/* ------ X ------ */

.one,
.two,
.three {
    width: 18%;
    height: 5px;
    background: rgb(130, 81, 30);
    margin-left: 65%;
    margin-top: 6px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1) inset, 1px 1px 1px 0px rgba(255, 255, 255, 0.5);
    backface-visibility: hidden;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


/* ------ menu in ------ */

nav ul {
    font-family: 'Fredericka the Great', cursive;
    list-style: none;
    text-align: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}

nav ul.hidden {
    display: none;
}

nav ul li {
    width: 18%;
    display: block;
}

nav ul a {
    color: white;
    line-height: 1.5;
    font-size: 2.5em;
}

a {
    text-decoration: none;
}

.imgMenu {
    width: 75%;
}

a:hover {
    text-decoration: none;
}

nav .pageActive {
    color: rgb(130, 81, 30);
}

nav ul a:hover {
    color: rgb(130, 81, 30);
}

.menu-section.on {
    z-index: 10;
    width: 100%;
    height: 290px;
    display: block;
    background-color: rgba(13, 30, 36, 1);
    position: absolute;
}


/* ------ Banniere titre page ------ */

.banner_title_personnages h1 {
    display: block;
    float: right;
    margin-top: 0%;
    opacity: 0.9;
    width: 361px;
    height: 93px;
    text-align: center;
    background: url(../img/Banner_title_menu.png) no-repeat;
    color: rgb(130, 81, 30);
    font-size: 300%;
    line-height: 90px;
    padding-left: 40px;
    font-family: 'Fredericka the Great', cursive;
}

.justice .banner_title_personnages h1 {
    font-size: 2.5em;
    padding-left: 51px;
}


/* ------ Bouton retour ------ */

#back-button {
    margin-top: 50px;
}

#img-back {
    width: 197px;
    height: 67px;
    margin-top: 3%;
}


/* ---------------------------------- FOOTER ---------------------------------- */

footer.container {
    background-color: rgba(13, 30, 36, 0.9);
    margin-bottom: 0;
    max-width: 2440px;
    margin-top: 30px;
    /* modifier et mettre le margin bottom sur le container du haut */
}

.row.footer-list {
    margin-top: 23px;
    text-align: center;
    margin-bottom: 15px;
}

.footer-list h4 {
    color: rgb(130, 81, 30);
    font: 'Fredericka the Great', cursive;
    font-size: 2.2em;
}

#coryright {
    font-size: 180%;
}

.copyright-col p {
    font-size: 1.3em;
    color: rgb(172, 168, 164);
    text-align: left;
    margin-top: 16px;
}

.footer-img {
    width: 69%;
}

.footer-line {
    background-color: rgb(130, 81, 30);
    height: 28px;
    top: 2px;
}


/* ------- Media -------*/

.coryright_blue {
    color: rgba(13, 30, 36, 0.9);
    font-weight: bold;
}


/* ---------------------------------- PAGE ACCUEIL ---------------------------------- */

#img_accueil_right {
    position: absolute;
    width: 100%;
    margin-top: 40px;
}

##img_border_left_accueil {
    width: 100%;
}

.title-top-accueil {
    font-size: 3.4em;
    color: rgb(130, 81, 30);
    margin-top: 101px;
    text-align: center;
    margin-left: 8px;
}

.text1-top-accueil {
    font-size: 1.3em;
    color: rgb(172, 168, 164);
    margin-top: 48px;
    text-align: justify;
    margin-left: 9px;
    padding-right: 27px;
    padding-left: 27px;
}

.container.home {
    margin-top: 35px;
}


/* ---------------------------------- PAGE CHARACTERS/MOVIES ---------------------------------- */

.img-characters {
    position: absolute;
    width: 83%;
    margin-left: 31px;
}

#characters_line {
    margin-top: 153px;
    width: 100%;
}

.title-top-characters {
    font-size: 2.9em;
    color: rgb(130, 81, 30);
    display: block;
    margin-top: 50px;
    text-align: center;
    margin-left: -4px;
}

.container.characters-blocPage {
    margin-top: 35px;
}


/* ---------------------------------- PAGE PERSONNAGES/JUSTICE LEAGUE ---------------------------------- */

.img-personnages {
    width: 100%;
}

.personnages .banner_title_personnages h1 {
    font-size: 2.5em;
    padding-left: 51px;
}

/* ---------------------------------- PAGE SUPERMAN ---------------------------------- */

.container {
    position: relative;
}

.carousel-indicators {
    padding-bottom: 40px;
}

#img_perso_logo {
    padding-left: 55px;
    margin-top: 60px;
    width: 90%;
}

.col-name p {
    font-size: 4.5em;
    color: rgb(172, 168, 164);
    display: block;
    margin-top: 100px;
    margin-left: 15px;
    text-align: center;
}

.col-city p {
    font-size: 3.5em;
    color: rgb(172, 168, 164);
    display: block;
    margin-top: 205px;
    text-align: center;
}

.batman .col-name p {
    margin-top: 97px;
    font-size: 4em;
}

.batman .col-city p {
    font-size: 2em;
    font-size: 3.1em;
    margin-top: 208px;
}

#img_perso_bottom {
    position: absolute;
    margin-top: 30px;
}

#img_perso_right {
    position: absolute;
    width: 100%;
}

.title-top {
    font-size: 2.5em;
    color: rgb(130, 81, 30);
    display: block;
    margin-top: 107px;
    text-align: center;
    margin-left: 8px;
}

.text1-top {
    font-size: 1.3em;
    color: rgb(172, 168, 164);
    display: block;
    margin-top: 40px;
    text-align: left;
}

.text1-top p {
    margin-left: 50px;
}

.text2-top {
    font-size: 1.3em;
    color: rgb(172, 168, 164);
    display: block;
    margin-top: 40px;
    text-align: left;
}

.title-bottom {
    font-size: 2.5em;
    color: rgb(130, 81, 30);
    display: block;
    margin-top: 49px;
    text-align: center;
}

.text1-bottom {
    font-size: 1.3em;
    color: rgb(172, 168, 164);
    display: block;
    margin-top: 25px;
    text-align: left;
}

.text1-bottom p {
    margin-left: 35px;
}

.text2-bottom {
    font-size: 1.3em;
    color: rgb(172, 168, 164);
    display: block;
    margin-top: 25px;
    text-align: left;
}

.text2-bottom p {
    margin-left: 15px;
}

div.row-large-double {
    margin-left: auto;
    margin-right: auto;
}


/* ---------------------------------- PAGE MOVIE 2 ---------------------------------- */

.table-movie .interne-superman h5 {
    font-size: 2.5em;
}

/* ---------------------------------- PAGE SERIES ---------------------------------- */

.series-container {
    margin-top: 66px;
    background-color: rgba(66, 66, 66, 0.9);
    padding: 15px 15px 15px 15px;
    /* top right left bottom */
}

.interne-line p {
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.2em;
    color: rgb(172, 168, 164);
    padding: 15px 15px 15px 15px;
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: justify;
    background-image: url('../img/motif_game.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

.bloc-sup {
    background-image: url('../img/motif_game.png');
    background-repeat: repeat;
    background-attachment: fixed;
    margin-left: -15px;
    height: 163px;
}

.interne-line h5 {
    font-size: 2.5em;
    color: rgb(130, 81, 30);
    margin-top: 32px;
    margin-left: 15px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.interne-superman h5 {
    font-size: 2em;
}

.interne-line h6 {
    font-size: 1.6em;
    color: rgb(130, 81, 30);
    margin-left: 15px;
    text-align: left;
    font-weight: bold;
}


/* ---------------------------------- PAGE GAMES ---------------------------------- */

body.games {
    background-image: url('../img/background_games2-min.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    /* overflow-y: hidden!important; */
}

.hero-image {
    width: 438px;
    height: 550px;
    position: absolute;
    margin-left: 649px;
    margin-top: -38px;
}

.title-game {
    background-image: url('../img/page_games/box1.png');
    border: 1px solid rgba(255, 255, 255, .2);
    width: 361px;
    height: 62px;
    display: block;
    font-size: 2.5em;
    color: rgb(172, 168, 164);
    line-height: 70px;
    margin-top: 60px;
    text-align: center;
}

.text-game {
    background-image: url('../img/page_games/box2.png');
    border: 1px solid rgba(255, 255, 255, .2);
    width: 721px;
    height: 242px;
    display: block;
    font-size: 1.5em;
    color: rgb(172, 168, 164);
    display: block;
    margin-top: 35px;
    text-align: justify;
    padding-top: 24px;
    padding-left: 50px;
}

.text-game p {
    width: 87%;
}

.footer-games {
    margin-top: 7%;
}

.banner_title_personnages_games {
    display: block;
    float: right;
    margin-top: 0%;
    opacity: 0.9;
    width: 369px;
    height: 108px;
    text-align: center;
    background: url(../img/page_games/banner_title.png) no-repeat;
}


/* ---------------------------------- PAGE COMICS ---------------------------------- */

.nav.nav-tabs li.nav-item a {
    font-size: 2.3em;
    text-transform: capitalize;
    font-weight: bold;
    padding-top: 11px;
}

.external-link {
    width: 24px;
}

.tab-pane .list-group {
    flex-direction: row;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link {
    color: rgb(73, 80, 87);
    background-color: rgba(255, 255, 255, 0.32941176470588235);
    border-color: rgb(222, 226, 230) rgb(222, 226, 230) rgb(255, 255, 255);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    border-color: rgb(222, 226, 230) rgb(222, 226, 230) rgb(255, 255, 255);
}

.comics2 {
    margin-top: -42px;
}

.comics-list h4 {
    font-size: 2.8em;
    font-weight: bold;
    color: rgb(33, 37, 41);
}

.comics-list p {
    font-size: 1.9em;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;

}

.comics-list a {
    color: rgb(130, 81, 30);
    text-decoration: underline;
    cursor: pointer;
}

.pave-bottom p {
    text-align: justify;
    font-size: 1.1em;
    margin-top: 7px;
    font-weight: bold;
}

.pave-top {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
}

.pave-bottom {
    width: 100%;
    font-size: 1.4em;
}

.comics h6 {
    font-size: 2.7em;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 38px;
}

.comics .list-group-item {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.comics .list-group-item {
    padding: 5px 2px 2px 2px;
    margin-bottom: 0;
    border: 3px solid #212529;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: rgb(130, 81, 30);
    border-color: #d39e009c;
}

.img-comics {
    width: 49%;
    margin-top: 20px;
}

.container.comics {
    margin-top: 20px;
    margin-bottom: 10px;
}


/* ---------------------------------- PAGE PLAN DU SITE ---------------------------------- */

.plan li {
    color: rgb(130, 81, 30);
    margin-bottom: 10px;
}

.plan a:hover {
    border-bottom: 3px groove;
    border-color: rgb(172, 168, 164);
}

.plan a {
    color: rgb(130, 81, 30);
    font-size: 3em;
}

.plan .sous-lien-plan {
    color: rgb(172, 168, 164);
    font-size: 2.5em;
    margin-left: 40px;
    list-style-type: none;
}

.plan .sous-sous-lien-plan {
    margin-left: 80px;
}

.plan .border-plan {
    padding: 30px 0px 30px 30px;
}

.container.plan {
    border-width: 5px;
    border-style: inset;
    border-color: rgb(130, 81, 30);
    margin-top: 30px;
}


/* ---------------------------------- PAGE CONTACT ---------------------------------- */

.border-contact {
    background-color: rgba(13, 30, 36, 0.9);
}

.bloc-contact {
    color: rgb(172, 168, 164);
    font-size: 1.2em;
}

.col-fieldset {
    margin-top: 20px;
}

.col-indicator {
    margin-top: 20px;
}

.title-contact {
    margin-bottom: 10px;
    font-size: 2em;
}

.dernier-bloc {
    margin-top: 20px;
}

.bloc-text {
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 235px;
}

.space {
    margin-bottom: 5px;
}

.button-send {
    margin-top: 93px;
    margin-left: 74%;
    margin-bottom: 20px;
}

.spaceEnd {
    margin-bottom: 15px;
}

#pseudo {
    width: 250px;
}

#email {
    width: 250px;
}

#tel {
    width: 250px;
}

#date {
    width: 150px;
}

fieldset {
    display: flex;
    width: 100%;
}

.container-bloc {
    margin-top: 50px;
}

.maps {
    margin-left: 151px;
    margin-bottom: 35px;
    margin-top: 35px;
    border: 12px solid cadetblue;
    width: 800px;
    height: 400px;
}


/* ---------------------------------- PAGE MENTIONS LEGALES ---------------------------------- */

.mentions li,
.mentions p {
    color: rgb(130, 81, 30);
    font-size: 2.2em;
}

.mentions p a {
    color: rgb(172, 168, 164);
    text-decoration: underline;
}

.border-mentions {
    padding: 30px 20px 30px 30px;
}

.container.border-contact {
    margin-top: 30px;
}


